body {
    font-family: 'Montserrat', sans-serif;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

#blue_oc_logo img {
    height: 100px;
}

/*Header Start*/

#onlicoinlogo {
    height: 60px;
    padding: 10px 10px 5px 10px;
}

/*
.exchangeRate {
    text-align: center;
}

.exchangeRate ul {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.exchangeRate li {
    padding: 2px 10px;
    list-style-type: none;
    float: left;
}

.exchangeRate h4,
.exchangeRate h5 {
    color: white;
    margin: 4px 4px;
}
*/
.exchangRates {
    padding: 10px 0px !important;
    color: white;
}

#topnav .topbar-main {
    background-color: #0f75bc;
}

/*
.nav-links li {
    display: inline;
    height: 100%;
    line-height: 50px;

}

.nav-links {
    display: inline;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 5px;
}
*/

.extras img {
    height: 30px;
    width: 30px;
}

.extras {
    padding: 15px 0px !important;
    color: white;
}

#main > div:nth-child(3) > ul > li:nth-child(2) > p {
    color: white;
}

/*register page*/
#reg-nav-links {
    margin-bottom: 0px !important;
}

#reg-nav-links li {
    list-style-type: none;
    float: left;
    padding: 5px 18px;
    line-height: 50px;
}

#reg-nav-links a {
    color: white;
}

/*Navbar Start*/
/*
#navbar > ul > li > a > img {
    height: 80px;
    width: 80px;
    margin: 10px 0px;
}

#navbar > ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

#navbar > ul > li {
    margin: 0% 2%;
    display: inline;
}
*/
.navbar img {
    height: 70px;
    width: 70px;
    margin: 12px 20px;
}


.navbar {
    background-color: #fff;
}

#topnav .navbar-custom {
    background-color: #ffffff;
    box-shadow: none;
}

.current-value {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 50px;
}

.current-bal {
    margin-top: 0px;
}

.cin-cout-btn {
    margin-top: 15px;
}

.tbl {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 12px;
}

/*Content Start*/
body > div > div {
    margin-top: 45px;
}

.card-box {
    border: 1px solid black;
    position: relative;
}

.panel-name {
    position: absolute;
    background-color: #0f75bc;
    padding: 8px;
    top: -14px;
    left: -11px;
    /*    border-radius: 5px;*/
    color: white;
    text-transform: uppercase;
}

#index-wrap {
    width: 800px;
    margin: auto;
    padding-top: 35px;
}

/*login page*/
#loginwrap {
    padding-top: 75px
}

#cb-login {
    width: 350px;
    margin: auto;
    height: 440px;
}

/*payment page*/
#cb-payment {
    width: 600px;
    margin: auto;
    height: 500px;
}

#cb-payment img {
    width: 43px;
    height: 43px;
}

#paymentwrap {
    padding-top: 32px;
    padding-bottom: 26px;
}

#cb-payment li {
    padding: 0px 7px;
}

/*register page*/
.testimonials img {
    height: 80px;
    width: 80px;
}

.testimonials {
    margin: 90px 0px;
}

.reg-main {
    margin-bottom: 30px;
}

/*coin in buy oct page*/
#coin-in-nav img {
    height: 24%;
    width: 24%;
    margin: 0;
}

.inp-fields input {
    margin: 5px 0px;
}

.inp-field-labels {
    margin: 10px 0px;
}

#proc-button button {
    width: 45%;
    border-radius: 5px;
}

/*coin out remittance page*/
#coin-out-nav img {
    height: 50px;
    width: 63px;
    margin: 0px 5px;
}

#coin-out-nav {
    padding-top: 5%;
    padding-bottom: 3%;
}

.about{
    text-align: center;
}
/*Footer Start*/
.footer {
    background: #0f75bc;
    width: 100%;
}

#foot2 {
    background: #0f75bc;
    color: white;
    padding: 15px 0px;
}

#foot2 h4,
.footer a {
    color: white;
}

/*social media logos*/
.footer img {
    width: 20px;
    height: 20px;
}

.social img {
    margin: 0% 1%;
}

.copyright,
.copyright a {
    color: white;
}

/*Footer End*/
/*Media Queries Start*/
@media (max-width:1199px) {
    #topnav .topbar-main .nav > li > a {
        padding: 0px 2px;
    }
}

@media (max-width:767px) {
    #extras {
        display: none;
    }

    .exchangeRate {
        text-align: none;
    }
}

@media (max-width:991px) {
    .wrapper {
        padding-top: 166px;
    }
}

/*Media Queries End*/
